<body>
     <div class="col col-10 bg-dark">
          <nav class="navbar navbar-expand-sm green navbar-light fixed-top">
               <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                         <li class="nav-item ml-4 mr-2 pl-2 pr-5 border-right border-secondary "
                              routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                              <a class="nav-link" routerLink="/">Home</a>
                         </li>
                         <li class="nav-item ml-4 mr-2 pl-2 pr-5 border-right border-secondary "
                              routerLinkActive="active">
                              <a class="nav-link" routerLink="/resume">Resume</a>
                         </li>
                         <li class="nav-item ml-4 mr-2 pl-2 pr-5 border-right border-secondary"
                              routerLinkActive="active">
                              <a class="nav-link" routerLink="/portfolio">Portfolio</a>
                         </li>
                         <!-- <li class="nav-item ml-4 mr-2 pl-2 pr-5 border-right border-secondary" routerLinkActive="active">
                         <a class="nav-link" routerLink="/photography">Photography</a>
                    </li> -->
                         <li class="nav-item ml-4 mr-2 pl-2 pr-5 border-right border-secondary"
                              routerLinkActive="active">
                              <a class="nav-link" routerLink="/contact">Contact Me</a>
                         </li>
                    </ul>
               </div>
               <div class="mr-5 black">
                    <h5 style="font-family:'Gill Sans MT','Trebuchet MS', sans-serif;"><b> Mohammad Akbor Sharif</b></h5>
               </div>
               <a class="navbar-brand" routerLink="/">
                    <img class="rounded-circle" src="/assets/download.png" width="40" height="40" alt="">
               </a>
          </nav>
     </div>
</body>