<body class="navy-blue">
     <div class="navy-blue">
          <div class="col col-10 shadow my-5 border mx-auto pt-3 inner-border black bg-l">
               <div class="col text-center p-1 mb-3">
                    <button class="green  rounded p-1 mr-2" (click)="onClick('#proj1')">Project 1</button>
                    <button class="green  rounded p-1 mr-2" (click)="onClick('#proj2')">Project 2</button>
                    <button class="green rounded  p-1 mr-2" (click)="onClick('#proj3')">Project 3</button>
                    <button class="green rounded p-1 mr-2" (click)="onClick('#proj4')">Project 4</button>
               </div>
               <div id="proj1" class="col col-11 shadow mx-auto mb-4 p-5 border"
                    style="border-radius: 5px; background-color: white;">

                    <div class="ml-5 p-2 my-2">
                         <h5> <b>Retail Bank Management System</b></h5>
                    </div>
                    <hr style="background-color: blue;">
                    <div class="row ml-5 p-1">
                         <h6>Java Developer at TCS</h6>
                         <h6 class="s mr-5">Jan 2021 - Feb 2021</h6>
                    </div>
                    <div class="col ml-5 p-1">
                         <li>Implemented an web application using Core Java, OracleDB, HTML, CSS, JSP</li>
                         <li>Received hands-on experience on User Authentication, Rest API, Postman, JDBC, Apache
                              Tomcat
                              Server</li>
                    </div>
                    <div class="col text-center p-2">
                         <h6 class="brown">*This was my company (TCS) Java certification project and TCS
                              Confidential*
                         </h6>
                    </div>
               </div>

               <div id="proj2" class="col col-11 shadow mx-auto mb-4 p-5 border"
                    style="border-radius: 5px; background-color: white;">

                    <div class="ml-5 p-2 my-2">
                         <h5> <b>Media Application</b></h5>
                    </div>
                    <hr style="background-color: blue;">
                    <div class="row ml-5  p-1">
                         <h6>Web Developer at TCS</h6>
                         <h6 class="s mr-5">Feb 2021 - March
                              2021</h6>
                    </div>
                    <div class="col ml-5 p-1">
                         <li>Implemented a Media App using Node.js, Angular, MongoDB, RestApi, and JWT</li>
                         <li>Used AngularJS for the frontend that provides a great user experience</li>
                         <li>Designed the backend with Node.Js, Mongoose, Express Framework </li>
                         <li>Provides 100% Admin Authentication with JWT, and an
                              easily manageable interface for the Admin</li>
                    </div>
                    <div class="col text-center p-2">
                         <h6 class="brown">*This was my company (TCS) Angular.js & Node.js certification project
                              and
                              TCS Confidential*</h6>
                    </div>
               </div>


               <div id="proj3" class="col col-11 shadow mx-auto mb-4 p-5 border"
                    style="border-radius: 5px; background-color: white;">

                    <div class="ml-5 p-2 my-2">
                         <h5> <b>Geovector: Geo Positioning System</b></h5>
                    </div>
                    <hr style="background-color: blue;">

                    <div class="row ml-5 p-1">
                         <h6>Software Developer Volunteer at TOPCON</h6>
                         <h6 class="s mr-5">Jan 2020 - May
                              2020</h6>
                    </div>
                    <div class="col ml-5 p-1">
                         <li>Led a team of three engineers to create an award-winning app utilized by TopCon
                         </li>
                         <li>Developed a system that finds the Geo-location for difficult-to-reach targets
                              based on two or more images captured</li>
                         <li>Designed the algorithm using the standard triangulation method via GPS and IMU
                              sensors and implemented it in android studio using Java, XML, Gradle, Mapbox API</li>
                         <li>Created a free of cost, user friendly, and about 90% accurate positioning system
                              without the use of any hardware</li>
                    </div>

                    <div class="col ml-4 p-4">
                         <h6>Video Presentation....</h6>
                         <a href="https://www.youtube.com/watch?v=9qopLS9pEHw" target="_blank">Short
                              Presentation</a>
                         <br><br>
                         <h6>Award News....</h6>
                         <a href="https://news.ucmerced.edu/news/2020/innovate-grow-awards-10-winners-virtual-expo"
                              target="_blank">Innovate to grow awards 2020 (Mobile App Challenge Team Geodudes)</a>
                         <br><br>
                         <h6>Github Link....</h6>
                         <a href="https://github.com/AkborSharif/Geovector"
                              target="_blank">Github.com/AkborSharif/Geovector</a>
                    </div>
               </div>

               <div id="proj4" class="col col-11 shadow mx-auto mb-4 p-5 border"
                    style="border-radius: 5px; background-color: white;">
                    <div class="ml-5 p-2 my-2">
                         <h5> <b>TapStr : Gesture Based Keyboard</b></h5>
                    </div>
                    <hr style="background-color: blue;">
                    <div class="row ml-5 p-1">
                         <h6>Full-Stack Developer at Human-Computer Int. Lab UC Merced</h6>
                         <h6 class="s mr-5">Jan 2019 – Dec 2019</h6>
                    </div>
                    <div class="col ml-5 p-1">
                         <li>Developed Android Input Method Editor (Keyboard) improving screen real-estate by
                              20%
                              with superior typing experience</li>
                         <li>Entry speed with the keyboard dropped at a much lower rate (26%)compared to
                              google
                              QWERTY (41%), in directly suggesting
                              the numbers and special symbols are easier to type TapStr
                         </li>
                         <li>The research paper is published at the ISS 2020 conference</li>
                    </div>
                    <div class="col ml-4 p-4">
                         <h6>Video Presentation....</h6>
                         <a href="https://www.youtube.com/watch?v=9c35y2M_2QA" target="_blank">Short
                              Presentation</a>
                         <br><br>
                         <h6>Publication ISS2020 conference....</h6>
                         <a href="https://dl.acm.org/doi/10.1145/3380867.3426208" target="_blank">TapStr: A Tap and
                              Stroke Reduced-Qwerty for Smartphones</a>
                         <br><br>

                         <h6>Github Link....</h6>
                         <a href="https://github.com/AkborSharif/Tapstr"
                              target="_blank">github.com/AkborSharif/Tapstr</a>
                    </div>

               </div>
               <br>
          </div>
          <div class="col col-10 mx-auto inner-border p-1" style="height: 50px;
                             text-align: center; padding: 3px; color: rgb(22, 22, 22); color: white;">
               <div><small>
                         <i>Copyright &copy; 2021 Mohammad Akbor Sharif<br> Sharifakbor7@gmail.com <br> All Rights
                              Reserved </i>
                    </small></div>
          </div>
     </div>
</body>