<body class="navy-blue">
     <div class="navy-blue">
          <div class="col col-10 shadow my-5 border mx-auto pt-3 inner-border black bg-l container2">
               <div class="col text-center p-1 mb-3">
                    <button class="green rounded p-1 mr-2" (click)="onClick('#education')">Education </button>
                    <button class="green rounded p-1 mr-2" (click)="onClick('#courses')">Courses </button>
                    <button class="green rounded p-1 mr-2" (click)="onClick('#skills')">Skills </button>
                    <button class="green rounded p-1 mr-2" (click)="onClick('#works')">Work History </button>
                    <button class="green rounded p-1 mr-2" (click)="onClick('#awards')">Awards </button>
               </div>
               <div id='education' class="col col-11 shadow mx-auto mb-4 p-5 border black container2"
                    style="border-radius: 5px; background-color: white;">
                    <h4 class="ml-5 p-2 my-2">Education</h4>
                    <hr style="background-color: blue;">
                    <div class="row ml-4">
                         <div class="col">
                              <h5> <b>University of California, Merced</b> </h5>
                         </div>
                         <div class="col">
                              <h6 class="s mr-3">Aug 2016 - May 2020</h6>
                         </div>
                    </div>

                    <div class="p-1 ml-5">
                         <h6>Merced, California, United States</h6>
                         <h6>Bachelor's of Science in
                              Computer Science and Engineering</h6>
                         <h6>Cumulative GPA: 3.59 & In-Major GPA: 3.65</h6>
                    </div>
                    <div class="col ml-4 p-2">
                         <h6>Download:</h6>
                         <a href="./assets/UC Merced Unofficial Transcript.pdf">Unofficial Transcript</a>
                         <br>
                         <a href="./assets/AkborsResume.pdf">Updated Resume</a>
                         <br><br>
                    </div>
               </div>
               <div id='courses' class="col col-11 shadow mx-auto mb-4 p-5 border"
                    style="border-radius: 5px; background-color: white;">
                    <h4 class="ml-5 p-2 my-2">Courses</h4>
                    <hr style="background-color: blue;">
                    <div class="row text-center">
                         <div class="col p-2">
                              <h5 class="green rounded p-1 ml-5 mr-5">Computer Science</h5>
                              <h6>Intro to CS (Java OOP)</h6>
                              <h6>Computer Vision</h6>
                              <h6> Operating System</h6>
                              <h6> Artificial Intelligent </h6>
                              <h6> Computer Algorithm</h6>
                              <h6>Software Engineering</h6>
                              <h6> Computer Architecture</h6>
                              <h6> Database System (SQL)</h6>
                              <h6> Data Structure with C++</h6>
                              <h6>Algorithm Design and Analysis</h6>
                         </div>
                         <div class="col p-2">
                              <h5 class="green rounded p-1 ml-5 mr-5">Mathematics</h5>
                              <h6>Discreet Math</h6>
                              <h6>Vector Calculus</h6>
                              <h6>Probability and Statistic</h6>
                              <h6> Numerical method and Analysis</h6>
                              <h6>Differential Equation and Linear Algebra</h6>
                         </div>
                         <div class="col p-2">
                              <h5 class="green rounded p-1 ml-5 mr-5">Engineering</h5>
                              <h6>Circuit Theory</h6>
                              <h6>Electromagnetism</h6>
                              <h6>Electromagnetic waves</h6>
                              <h6>Optics and modern physics</h6>
                         </div>
                    </div>
               </div>

               <div id='skills' class="col col-11 shadow mx-auto mb-4 p-5 border"
                    style="border-radius: 5px; background-color: white;">
                    <h4 class="ml-5 p-2 my-2">Skills and Technologies</h4>
                    <hr style="background-color: blue;">
                    <div class="row  text-center">
                         <!--<h5>Javascript, TypeScript, HTML5, CSS</h5>
                              <h5>Node.Js, AngularJS, Express, jQuery</h5>
                              <h5>MongoDB, Mongoose, MySQL, Oracle</h5>
                              <h5>Git, Github, Postman</h5>
                              <h5>EJS, JSP, JWT, JSON, Socket.io</h5>-->

                         <div class="col">
                              <h5 class="green rounded text-center p-1 ml-3 mr-3">Languages</h5>
                              <h6>Java Expertise</h6>
                              <h6>Javascript</h6>
                              <h6>TypeScript</h6>
                              <h6>jQuery</h6>
                              <h6>HTML5, CSS</h6>
                              <h6>SQL</h6>
                         </div>
                         <div class="col">
                              <h5 class="green rounded  text-center p-1 ml-3 mr-3">Tools</h5>
                              <h6>Visual Studio Code</h6>
                              <h6>Git, Github</h6>
                              <h6>Postman</h6>
                              <h6>IntelliJ IDEA</h6>
                              <h6>Eclipse</h6>
                              <h6>Robo 3T</h6>
                              <h6>SQLITE STUDIO</h6>

                         </div>
                         <div class="col">
                              <h5 class="green rounded text-center p-1 ml-2 mr-2">Frameworks/Server</h5>
                              <h6>Angular JS</h6>
                              <h6>Node JS</h6>
                              <h6>EJS, JSP, JWT</h6>
                              <h6>Express JS</h6>
                              <h6>Apache TomcatServer</h6>
                         </div>
                         <div class="col">
                              <ul>
                                   <h5 class="green rounded  text-center p-1">Database</h5>
                                   <h6>MongoDB </h6>
                                   <h6>Mongoose</h6>
                                   <h6>OracleDB</h6>
                                   <h6>MySQL DB</h6>
                              </ul>
                         </div>
                    </div>

               </div>


               <div id='works' class="col col-11 shadow mx-auto mb-4 p-5 border"
                    style="border-radius: 5px; background-color: white;">
                    <h4 id="work" class="ml-5 p-2 my-2">Work History</h4>
                    <hr style="background-color: blue;">
                    <div class="ml-5 p-1">
                         <div class="col mb-3">
                              <div class="row">
                                   <h5> <b>Software Engineer at Tata Consultancy Services - Full Time</b></h5>
                                   <h6 class="s">Dec 2020 - Present</h6>
                              </div>
                              <div class="row">
                                   <h6>Berkeley, California, United States</h6>
                              </div>
                              <div class="col p-1">
                                   <li>Web Developer</li>
                                   <li>Full Stack Developer</li>
                              </div>
                         </div>
                         <div class="col mb-3">
                              <div class="row">
                                   <h5> <b>Research Associate at Pathrise - Part Time</b> </h5>
                                   <h6 class="s">June 2020 - Jan 2021</h6>
                              </div>
                              <div class="row">
                                   <h6>Berkeley, California, United States</h6>
                              </div>
                              <div class="col p-1">
                                   <li>Worked as an SDR and helped in finding qualified candidates for the
                                        fellowship
                                        program</li>
                                   <li>Engaged prospects regarding the fellowship</li>
                              </div>
                         </div>

                         <div class="col mb-3">
                              <div class="row">
                                   <h5> <b>Coding Instructor at CodeFu - Part Time</b> </h5>
                                   <h6 class="s">Sept 2020 - Dec 2020</h6>
                              </div>
                              <div class="row">
                                   <h6>Berkeley, California, United States</h6>
                              </div>
                              <div class="col p-1">
                                   <li>Basic programming that I educated includes Python, HTML/CSS, JavaScript, Java
                                   </li>
                                   <li>Led classes of a minimum of 10 kids of elementary to high school</li>
                                   <li>Taught basic fundamentals to problem-solving</li>
                              </div>

                         </div>

                         <div class="col mb-3">
                              <div class="row">
                                   <h5> <b>CS Tutor at University of California, Merced - Part
                                             Time</b> </h5>
                                   <h6 class="s">Oct 2019 - Sept 2020</h6>
                              </div>
                              <div class="row">
                                   <h6>Merced, California, United States</h6>
                              </div>
                              <div class="col p-1">
                                   <li>Java Object-Oriented Programming</li>
                                   <li>Data Structure and Algorithm Analysis using Java and C++</li>
                                   <li>Advised over 100 students about their degree path and required courses</li>
                                   <li>Organized study/review session for midterms and finals</li>
                              </div>
                         </div>
                    </div>
               </div>

               <div id='awards' class="col col-11 shadow mx-auto mb-4 p-5 border ml-5"
                    style="border-radius: 5px; background-color: white;">
                    <h4 class="ml-5 p-2 my-2">Awards</h4>
                    <hr style="background-color: blue;">
                    <div class="ml-5">
                         <div class="col p-1">
                              <h5>Awards received in College</h5>
                              <li>Chancellor's List: Award given for GPA above 3.50</li>
                              <li>Frances M Benton Scholarship: $2000 awarded due to high GPA</li>
                              <li>Innovate to Grow Mobile App Challenge: received a winning prize of $500
                              </li>
                         </div>
                    </div>
               </div>
               <br>
          </div>
          <div class="col col-10 mx-auto inner-border p-1" style="height: 50px;
                             text-align: center; padding: 3px; color: rgb(22, 22, 22); color: white;">
               <div><small>
                         <i>Copyright &copy; 2021 Mohammad Akbor Sharif<br> Sharifakbor7@gmail.com <br> All Rights
                              Reserved </i>
                    </small></div>
          </div>
     </div>
</body>