<body class="navy-blue">
     <div class="text-center black">
          <div class="col col-10  border my-5 mx-auto inner-border bg-l">
               <h4 class="ml-5 p-3 mt-5 shadow rounded-pill">Welcome To My Website</h4>
               <img src="/assets/download.png" class="rounded-circle ml-5 shadow" width="150" height="150" alt="...">
               <div class="row">
                    <div class="col col-10 shadow my-5 mx-auto border rounded white " style="background-color: white;">
                         <div class="col p-2">
                              <div class="ul p-5 text-center black">
                                   <ul>
                                        <li>
                                             <h4>Hi! My name is Mohammad Akbor Sharif</h4>
                                        </li>
                                        <li>
                                             <p>I am a Software Engineer with experience in
                                                  mobile/web
                                                  development to uplift
                                                  and drive excellence within the tech industry. I am known for
                                                  being an excellent
                                                  problem solver, moving into projects with a
                                                  high level of independence, and using knowledge to educate
                                                  others.

                                                  I am currently employed as a <b class="">Software Engineer @
                                                       Tata Consultancy
                                                       Services</b>. I
                                                  have 2
                                                  combined years of coding experience and my most proficient
                                                  languages are Java, Javascript(Nodejs), Typescript(Angular). I
                                                  worked with
                                                  oracle db,
                                                  mysql db, and mongo db. Besides
                                                  these, I also programmed in basic Python, SQL, C. My ultimate
                                                  goal is to build
                                                  and contribute
                                                  to
                                                  software development that will
                                                  eventually impact millions of people around the world.</p>
                                        </li>
                                   </ul>
                              </div>
                         </div>
                    </div>
               </div>
               <h4 class="p-4">Thank you for visiting my
                    profile !!!
               </h4>
          </div>
          <div class="col col-10 mx-auto inner-border p-1"style="height: 50px;
                   text-align: center; padding: 3px; color: rgb(22, 22, 22); color: white;">
               <div><small>
                         <i>Copyright &copy; 2021 Mohammad Akbor Sharif<br> Sharifakbor7@gmail.com <br> All Rights
                              Reserved </i>
                    </small></div>
          </div>
     </div>
</body>